{% extends "BlogPost/base.html" %}

{% block content %}

    <p>All the blogs you can think of!</p>

    <a href="{% url 'BlogPost:new_blog' %}">Add new blog post</a>

    <ul>
        {% for title in titles %}
        <li>
            <p><b>{{ title }}</b></p>
            <p>{{ title.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ title.text|linebreaks }}</p>
            <a href="{% url 'BlogPost:edit_blog' title.id %}">Edit blog post</a>
        </li>
        
        {% empty %}
            <p>No blog posts have been added.</p>
        
        {% endfor %}
    </ul>

{% endblock content %}